*.class
*.log
*.log.*

# mvn
target/
*.versionsBackup

# emacs cruft
*.*~

# vim swap files
*.swp

# Ignore Node & Bower regardless of context
###################
**/node_modules/
**/bower_components/
**/build/
**/*.tmp
**/npm-debug.log


# Jetbrains Idea
.idea/
*.iml
*.ipr
*.iws
# osx cruft
.DS_Store
