<span>

	<section id="home-welcome">
		<div class="wrapper">
			<h3 class="section-head">VALUES</h3>
			<p>
               At New Hope, we know that what we value is what we will do or become. Here are some of the things that make up who we are and what we do as a church body!
            </p>
            <p>
                We Are Generous – We truly believe it when Jesus said, “It is more blessed to give than it is to receive.” At New Hope, we are generous with our time, talent and treasure knowing that we contribute to the Kingdom of God!
            </p>
            <p>
                We Are Servants – Service isn’t just something we do at New Hope but it is a part of our identity as sons and daughters of God. We know that if we want to be great, we must be servant to all! From the set up team to the pulpit, we are all serving!
            </p>
            <p>
                We Are United – We know that one of the most important things in any church is that we are united. We may be different by age, ethnicity or background but we are all united in Christ!
            </p>
            <p>
                We Are Holy – As a church body, we want to grow in our relationship with Jesus and the lifestyle we live. Anyone and everyone is welcome to our church but we pray everyone leaves looking and loving like Jesus and seeking personal holiness.
            </p>
            <p>
                We Are Messengers – At New Hope, this is clear; we are all about the message of Jesus! We are unashamed and sold out for God, so we will stop at nothing to proclaim the true gospel message everywhere we go!
            </p>
	</section>
</span>