<span>
	<section id="kids" class="photo promo">
		<div class="image-filter"></div>
		<div class="wrapper">
			<h3 class="section-head">New Hope Kids Church</h3>
			<p>
				Nursery – Our highly trained nursery staff is prepared each Sunday to care for children newborns through preschool in the lower level at 89 Court St.
			</p>
			<p>
				New Hope Kids Church is fun, safe and practical! We are here to help parents lay a scriptural foundation for a faith that will last a lifetime. It’s for kids pre-K to 5th grade at our ministry building, 89 Court St., Plymouth.
			</p>
		</div>
	</section>

	<section id="home-welcome" style="height: 110vh;">
		<div class="wrapper">

                       <h3 class="section-head">Youth and Young Adults</h3>
			<p class="section-head-desc">The Gathering Students – 6th grade to 8th grade</span>
			<p>
				Our Students ministry meets every Wednesday night from 7PM to 9PM for dynamic and exciting worship, a powerful message and game time. We have a blast every week as we connect with God and one another!
			</p>
                         <br/>

			<p class="section-head-desc">The Gathering – High School and Young Adults</span>
			<p>
				The Gathering seeks to empower a generation to live radically for Jesus. Every Wednesday night from 7PM to 9PM, we experience God through dynamic and exciting worship, a powerful message and connecting with one another. We’d love to see you there!
			</p>
			<p>
				Here's our website for more information: <a href="http://www.gatheringgeneration.com">www.gatheringgeneration.com</a>
			</p>
                         <br/>
			<p class="section-head-desc">Gathering Conference</span>
			<p>
				Gathering Conference seeks to empower a generation to live radically for Jesus. This exciting, high-energy event geared for youth and young adults
features some of the greatest speakers in this nation and powerful worship times. More than an event, this is a movement across the Northeast.
			</p>
			<p>
				For more information and registration, please visit: <a href="http://www.gatheringgeneration.com/conference">www.gatheringgeneration.com/conference</a>
			</p>
			
	        </div>
	</section>

	<section id="life-groups" class="photo">
		<div class="image-filter"></div>
		<div class="wrapper">
			
		<h3 class="section-head">Life Groups</h3>
		<p>New Hope life groups are small gatherings of people meeting weekly at homes and other places to be intentional about growing
			in their relationship with Jesus.  We believe that growth happens in the context of relationships.  We have a variety of groups
			meeting every day of the week and we would love to have you join a group!  Simply choose a day that works best with your schedule, click on a group and sign up!
		</p>
<div class="buttons">
			<a href="life-groups" class="button">Find a Life Group</a>
		</div>
<br/>
	</section>

	<section id="home-kids">
		<div class="wrapper">
	           <div class="text-wrapper">

				<h3 class="section-head">Men’s</h3>
			
			<p>
				The Men’s Ministry is a pillar of New Hope Chapel. Our mission is to encourage and equip men to know the Bible, teach it, and faithfully follow Christ as husbands, fathers, and friends. Our core program, Men’s Fraternity, gives us a definition of manhood from which to work, and a road on which to walk. In addition to the Men’s Fraternity and many weekly life groups, we are pleased to host the annual Teleios Men’s Summit. This large conference helps men to be conformed to the image of God in all areas of their lives by connecting with God and with other men.
			</p>	


<div class="buttons">
			<a href="life-groups" class="button">Find a Men's Group</a>
		</div>
<br/>
            </div>
      </div>
</section>

<section id="home-sermons" class="photo">
	<div class="image-filter"></div>
	<div class="wrapper">

<h3 class="section-head">Women’s</h3>
			
			<p>
				New Hope Chapel’s Women’s Ministry is proud to support our community while empowering and equipping women with biblical teaching. Our ministry seeks to connect women to God through Bible studies, special events and service opportunities. Our goal is to encourage women to grow in their faith in Jesus Christ while strengthening the bonds of fellowship through encouragement and purpose. 
			</p>


<div class="buttons">
			<a href="life-groups" class="button">Find a Women's Group</a>
		</div>
<br/>
	</div>
</section>
</span>